# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

# FIXME Excelsior uses SOURCE, Eagle uses WORKSPACE, these need to be unified
export SOURCE := "${@os.path.abspath(os.path.join(os.path.dirname(bb.data.getVar('FILE', d)),'../..'))}"
export WORKSPACE := "${SOURCE}"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/../poky/meta \
  ${TOPDIR}/../poky/meta-poky \
  ${TOPDIR}/../poky/meta-openembedded/meta-oe \
  ${TOPDIR}/../poky/meta-openembedded/meta-python \
  ${TOPDIR}/../poky/meta-openembedded/meta-networking \
  ${TOPDIR}/../poky/meta-sdflight-bsp \
  ${TOPDIR}/../poky/meta-qti-repackage \
  ${TOPDIR}/../poky/meta-repackage \
  ${TOPDIR}/../poky/meta-smartphone/meta-android \
  ${TOPDIR}/../poky/meta-ros \
  ${TOPDIR}/../poky/meta-nodejs \
  ${TOPDIR}/../poky/meta-nodejs-contrib \
  "
BBLAYERS_NON_REMOVABLE ?= " \
  ${TOPDIR}/../poky/meta \
  ${TOPDIR}/../poky/meta-poky \
  ${TOPDIR}/../poky/meta-openembedded/meta-oe \
  ${TOPDIR}/../poky/meta-sdflight-bsp \
  ${TOPDIR}/../poky/meta-qti-repackage \
  ${TOPDIR}/../poky/meta-repackage \
  ${TOPDIR}/../poky/meta-smartphone/meta-android \
  "
